$bg-color: #FFFBEB;
$bg-secondary-color: #495579;
$text-primary: #251749;
$text-secondary: #263159;

@mixin section-div {
    min-height: 87vh;
    display: flex;
    flex-direction: row;
    margin-top: 3.25vh;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

@mixin header-div {
    font-size: 44px;
    font-weight: 200;
    color: $text-primary;
    text-shadow: 5px 0px 7px $text-secondary;
}

@mixin center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-div-vertically {
    border: 5px solid;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
}

@mixin center-div-horizontally {
    min-width: unset;
    max-width: unset;
    min-height: 50%;
    max-height: 50%;
    margin: 0 auto;
}

@mixin std-scroll-width {
    -ms-overflow-style: none;  // IE 10+
    scrollbar-width: none;  // Firefox
    ::-webkit-scrollbar {
        display: none;  // Safari/Chrome
    }
}