$bg-color: #FFF3E2;
$bg-secondary-color: #495579;
$text-primary: #251749;
$text-secondary: #263159;

@mixin section-div {
    min-height: 87vh;
    display: flex;
    flex-direction: row;
    margin-top: 3.25vh;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
}

@mixin title-div {
    font-size: 44px;
    font-weight: 300;
    color: $text-primary;
    text-shadow: .3rem .3rem 0 rgba($color: $text-secondary, $alpha: 0.3);
}

@mixin header-div {
    font-size: 90px;
    font-weight: 300;
    color: $text-primary;
    text-shadow: .3rem .3rem 0 rgba($color: $text-secondary, $alpha: 0.3);
    @media only screen and (max-width: 768px) {
        font-size: 44px;
    }
}

@mixin center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-div-vertically {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
}

@mixin center-div-horizontally {
    min-width: unset;
    max-width: unset;
    min-height: 50%;
    max-height: 50%;
    margin: 0 auto;
}

@mixin left-box-with-shadow {
    padding-left: 4rem;
    background-image: linear-gradient(90deg, rgba($text-primary, .2), rgba($text-primary, .2) 14px, transparent 14px, transparent 20px, rgba($text-primary, .2) 20px, rgba($text-primary, .2) 23px, transparent 23px);
}

// only for supported browsers/devices
@mixin scroll-style {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
   
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba($color: $text-secondary, $alpha: 0.2); 
        border-radius: 10px;
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba($color: $text-secondary, $alpha: 0.4);
    }
}