@import '../../../../globals/scss/variables.scss';

.cover {
    @include section-div;
    
    &.inactive {
        opacity: 0;
    }
    .lhs {
        display: flex;
        flex-direction: column;
        min-width: 50%;
        max-width: 50%;
        @media only screen and (max-width: 768px) {
            min-width: unset;
            max-width: unset;
            min-height: 50%;
            max-height: 50%;
            margin: 0 auto;

        }
        .header {
            @include title-div;
        }
        .subheader {
            font-size: 24px;
            font-weight: 200;
            color:$text-secondary;
        }
        .lhs-content {
            max-width: 50%;
            margin: 2vh 0;
            padding: 12px 12px;
            font-size: 18px;
            font-weight: 300;
            color: $text-primary;
            @media only screen and (max-width: 768px) {
                @include center-div-horizontally;
                margin-top: 2vh;
                border: unset;
            }
            .tag-list {
                margin-bottom: 5vh;
                padding: 0;
                .tag-content {
                    @include left-box-with-shadow;
                    text-decoration: none;
                    list-style-type: none;
                }
                .btn-content {
                    text-decoration: none;
                    list-style-type: none;
                    margin: 12px auto;
                }
            }
            .button-list {
                .tag-list {
                    margin-top: 6vh;
                    padding: 0;
                    @media only screen and (max-width: 768px) {
                        margin: 6vh auto;
                    }
                    .btn-content {
                        text-decoration: none;
                        list-style-type: none;
                        line-height: 24px;
                        @media only screen and (max-width: 768px) {
                            line-height: 36px;
                        }
                        margin: 12px auto;
                    }
                }
            }
        }
        
    }
    .rhs {
        min-width: 45%;
        max-width: 45%;
        @media only screen and (max-width: 768px) {
            display: none;
        }
        .rhs-content {

        }
    }
}